In [1]:
import os
import pandas as pd

In [2]:
script_dir = os.path.dirname(os.path.abspath("recommendations.csv"))
parent_dir = os.path.dirname(script_dir)
df = pd.read_csv(f"{parent_dir}/data/recommendations.csv")
df.shape

(20590, 4)

In [3]:
df.loc[df.item_id == "i6574833124390691493"].sort_values("re_rank")
# we can see how items are sorted by price and if price also in case of same price.

                    item_id                reco_id  re_rank   Price
6717   i6574833124390691493   i1497804697887974599        1  949000
7256   i6574833124390691493   i4809401402820185199        2  850000
16660  i6574833124390691493   i9043567884882244212        3  819999
2652   i6574833124390691493  i-5676070307593980406        4  819999
266    i6574833124390691493  i-7873862791927059228        5  795000
7716   i6574833124390691493   i1526203935047533550        6  795000
13720  i6574833124390691493  i-8922159415894041118        7  730000
12738  i6574833124390691493   i7647588996448246963        8  695000
2978   i6574833124390691493  i-6443183252981047098        9  655000
6212   i6574833124390691493  i-2058188571775158837       10  628000